.cart{
    // height: 40px;
    margin-bottom: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .searchbar{
        width:90%;
    }
    .cartImage{
        height: 37px;
        width: 37px;
        background-size: cover;
        background-position: center;
        .cart-number{
            float:right;
            margin-right: -5px;
            margin-top: -5px;
            padding:0px 3px;
            background-color: red;
            border-radius: 50%;
        }
    }
}